/*style css ----------------------------------------*/
body {
  background-color: #363636;
  font-family: Arial, Helvetica, sans-serif;
  font-size:  3.1ex;
}
#container {
  background-color: #D6D6D6;
  border-radius: 20px;
  padding: 20px;
  margin: 20px;
}
/*Nagigation header -------------------------------- */
#navigation {
  color: black;
  font-weight: bold;
  text-decoration: none;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
#navigation :visited {
  color: black;
}
#navigation a { 
  text-decoration: none;
  color: black;
}
#navigation a:visited{ 
  color: black;
}
/*type navigation bar------------------------------- */
#navtypecontent {
  line-height: 1.8;
} 
.navtype {
  font-size: 1em;
  color: white;
  text-decoration: none;
  font-weight: bold;
  background-color: black;
  margin: 4px;
  padding: 4px;
  border-radius: 4px;
}
.navtype :visited {
  color:white;
}
/*Table obj content---------------------------------- */
table {
  border-collapse: collapse;
}
#tcontent td {
  border: 2px solid black;
  border-collapse: collapse;
  font-family: monospace;
  padding: 4px;
}
#tcontent .graybg {
  background-color: lightgray;
  font-weight: bold;
}
#tcontent .whitebg {
  background-color: white ;
}
#navtype tr td {
  padding: 10px;
  margin:  10px;
}
/*--------------------------------------------------- */
.tableContent {
  border-collapse: collapse;
  border: 2px solid black;
}
.tableContent thead tr th {
  border: 2px solid black;
  border-collapse: collapse;
  padding: 4px;
  color: black;
  background-color: lightgray;
}
.tableContent tbody tr td {
  border: 2px solid black;
  border-collapse: collapse;
  padding: 4px;
  background-color: white ;
}
/*--------------------------------------------------- */
/*subobjext navigation slide*/
#navBarSUBOBJ1 a {
  text-decoration: none;
  font-size: 0.8em;
  font-weight: bold;
  margin: 3px;
  padding: 3px;
}
/*----------------------------------------------*/
#navBarSUBOBJ2 a {
  text-decoration: none;
  font-size: 0.8em;
  font-weight: bold;
  font-style: italic;
  margin: 2px;
  padding: 2px;
  border-color: black;
  border-style: solid;
  border-width: thin;
}
/*--------------------------------------------------- */
table tr td {
  border: 2px solid black;
  border-collapse: collapse;
}
table tr th {
  border: 2px solid black;
  border-collapse: collapse;
}
.bg-gray{
  background-color: lightgray;
}
.bg-black {
  background-color: darkgray;
}
.cell_private {
  background-color: lightgray;
}
.cell_basic_type {
  background-color: khaki;
}
.cell_complex_type {
  background-color: white;
} 
.bg-black {
  background-color: black;
}
/*python objects--------------------------------------*/
.btn {
  background-color: black;
  color: white;
  padding: 2px;
  margin: 2px;
  text-decoration: none;
  border-radius: 4px;
}
.btn:visited {
  color: white;
}
.type     {background-color:blue;}
.module   {background-color:red;}
.function {background-color: green;}
.builtin_function_or_method {background-color:purple;}
/*---------------------*/
.int{
 background-color: lightcoral;
 border: 2px solid black;
 border-width: thin;
 color: black;}
.int:visited {color: black}
/**/
.float{
 background-color: lightgoldenrodyellow;
 border: 2px solid black;
 border-width: thin;
 color: black;}
.float:visited {color: black}
/**/
.dict{
 background-color: lightgreen;
 border: 2px solid black;
 border-width: thin;
 color: black;}
.dict:visited {color: black}
/**/
.list{
 background-color: lightsteelblue;
 border: 2px solid black;
 border-width: thin;
 color: black;}
.list:visited {color: black}
/**/
.tuple{
 background-color: lightsalmon;
 border: 2px solid black;
 border-width: thin;
 color: black;}
.tuple:visited {color: black}
/**/
.str {
 background-color: lightyellow;
 border: 2px solid black;
 border-width: thin;
 color: black;}
.str:visited {color: black}
/**/
.bool {
 background-color: lightskyblue;
 border: 2px solid black;
 border-width: thin;
 color: black;}
.bool:visited {color: black}
/*--------------------------------------------------- */
#footer {
  text-align: center;
}
#footer a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}
#footer a:visited {
  color: black;
}
/*--------------------------------------------------- */
